server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/saas_platform
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        multiTenancy: SCHEMA


management:
  endpoints:
    web:
      exposure:
        include: health,info


jwt:
  secret: saas-platform-dev-secret-1234567890
  expiration: 3600000   # 1 hour (ms)


resilience4j:
  ratelimiter:
    instances:
      globalApiLimiter:
        limit-for-period: 10
        limit-refresh-period: 1s
        timeout-duration: 0
