spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/saas_platform
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

        # ===== MULTI TENANCY =====
        multiTenancy: SCHEMA
        tenant_identifier_resolver: com.maaz.saasPlatform.tenant.resolver.HeaderTenantIdentifierResolver

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info
